.highlight {
    background-color: var(--highlight-bg);
}

.special {
    background-color: var(--special-bg);
    color: var(--special-text);
}

.special2 {
    background-color: var(--special2-bg);
    color: var(--special2-text);
}
